html {
	height: 100%;
}

body {
	background-color: #012138;
	font-family: 'Press Start 2P', cursive;
	height: 100%;
	margin: 0px;
	width: 100%;	
}

.sprite {
	background-image: url(sprites.png);
	height: 128px;
	width: 128px;
}

#background {
	background-image: url(background.png);
	background-size:   cover;                    
    background-position: top left; 
	width: 100%;
	height: 100%;	
}

#player {
	background-position: 0px 0px;
	height: 180px;
	left: -600px;
	position: absolute;
	top: 20px;
	width: 275px;
}

#score {
	position: absolute;
	z-index: 10;
	left: 50%;
	top: 3%;
	transform: translate(-50%, 0%);
}

h1 {
	margin: .5em;
}

@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);