{% extends 'layout.html' %}
{% block body %}
    <article class="post" style="height: auto;">
        {% if project.image is not none %}
            <div class="blog_image" style="background-image: url({{ project.image }})"></div>
        {% endif %}
        <div {%  if project.image is not none %}class="preview"{% endif %}>
            <div class="one_box">
                <h2>{{ project.project }}</h2>
                {{ project.content }}
            </div>
        </div>
    </article>
{% endblock %}