body {
	font-family: 'Source Code Pro', sans-serif;
	color: black;	
	padding: 10px 30px;
}

.portfolio_image {
    float: left;
    height: 100px;
    margin-right: 20px;
}

ul {
	list-style: none;
}

.keyword {
	color: #36B1C0;
}

.variable {
	color: #6D968D;
}

.constant {
	color: red;
}

.whiteSpace {
	height: 100px;
}

.centerWrapper {
    position: absolute;
    left: 50%;
    width: 55%;
    min-width: 400px;
    padding-bottom: 50px;
}

#main {
	border: 1px #444 solid;
	padding: 15px;
    padding-right: 50px;
    background-color: black;
    background: rgba(0, 0, 0, .55);
    margin: 0px auto;
    text-align: justify;
    z-index: 1;
    position: relative;
    left: -50%;
}

.portfolioSpacer {
    height: 40px;
}

.technologies {
    font-size: small;
    color: #292f3f;    
}

.resumeButton {
    padding-top: 5px;
    padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
    margin: 0px auto;
    width: 65%;
    background-color: #292f3f;
    border-radius: 20px;
    color: lightgrey;
    text-align: center;
}

a:link {color:black;}
a:visited {color:black;}
a:hover {color:black;}
a:active {color:black;}